.navbar{
  position:fixed;
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  background: white;
  backdrop-filter:blur(10px);
  background:
  rgba(255,255,255,.95);
  box-shadow: 0 2px 10px rgba(0,0 ,0,.1);
  z-index: 1000;
}
.logo{
  font-size: 2rem;
  font-weight: bold;
  color: #800020;
}
.nav-links{
  display: flex;
  gap: 30px;
  list-style:none;
  transition: .4s;
  font-weight: 400;
}
.burger{
  display:none;
  font-size:1.8rem;
  cursor:pointer;
  color:#800020;
}
.nav-links a{
  text-decoration: none;
  color: #333;

}
.nav-links a:hover{
  color: #800020;
  font-weight: bold;
  border-bottom: 2px solid #5c0014;
  
}
.nav-links li{
  display: flex;
  gap: 30px;
  list-style: none;
}
.nav-links li{
  cursor: pointer;
  font-weight: 500;
}
.hero{
  min-height:90vh;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 10%;
  background:
  linear-gradient(135deg,#9b002f 0%,#800020 40%,#6a0018 100%);
  color:white;
  position:relative;
  overflow:hidden;
}

.hero::before{
  content:"";
  position:absolute;
  width:500px;
  height:500px;
  border-radius:50%;
  background:
  rgba(255,255,255,.05);
  top:-150px;
  right:-150px;
}

.hero::after{
  content:"";
  position:absolute;
  bottom:-150px;
  left:-150px;
  width:400px;
  height:400px;
  background:white;
  border-radius:50%;
  background:
  rgba(255,255,255,.05);
}

.hero-text,
.hero-image{
  position:relative;
  z-index:2;
}
.hero-circle{
  position:absolute;
  width:300px;
  height:300px;
  border-radius:50%;
  background:
  rgba(255,255,255,.05);
  bottom:-100px;
  left:-100px;
}

.hero-text{
  max-width:600px;
  margin-left: 10%;
}

.hero-text h1{
  font-size:3rem;
  line-height:1;
  font-weight: 500;
  margin:20px 0;
}
.hero-text h3{
 
  font-size:1.5rem;
  font-weight:400;
}
.h4{
  font-size:2rem;
  font-weight:400;
}
.hero-text p{
  font-size:1.2rem;
}
.hero-line{
    width:60px;
  height:4px;
  background:white;
  margin:15px 0 25px;
}
.hero a{
  display: inline-block;
  text-decoration: none;
  padding:18px 40px;
  border:none;
  border-radius:50px;
  font-size:1rem;
  font-weight:600;
  background:white;
  color:#800020;
  transition:.4s;
  margin-right:20px;
}
.hero a:hover{
  transform:translateY(-3px);
  box-shadow:
  0 10px 25px rgba(255,255,255,.3);
}
.hero-image{
  position:relative;
}

.photo-glow{
  position:absolute;
  width:420px;
  height:420px;
  border-radius:50%;
  background:
  radial-gradient( rgba(255,255,255,.15),transparent 70%);
  top:50%;
  left:50%;
  transform:
  translate(-50%,-50%);
}
.hero-image img{
  width:350px;
  height:350px;
  object-fit:cover;
  border-radius:50%;
  border:10px solid rgba(255,255,255,.2);
  box-shadow:
    0 0 30px rgba(255,255,255,.2),
    0 20px 50px rgba(0,0,0,.3);
}

.dots{
  position:absolute;

  left:50px;
  top:250px;

  width:120px;
  height:120px;

  background-image:
  radial-gradient(
    rgba(255,255,255,.3) 2px,
    transparent 2px
  );

  background-size:
  20px 20px;
}

.wave{
  position:absolute;
  bottom:-2px;
  left:0;
  width:100%;
  height:80px;
}

.wave svg{
  width:100%;
  height:100%;
}

.about,.skills,.projects,.contact{
  padding:120px 10%;
}
.about{
  padding: 140px 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  background: #fff;
}

.about-line{
  width:60px;
  height:4px;
  background:#800020;
  margin:15px 0 25px;
}
.about-image img{
  width:380px;
  height:270px;
  object-fit:cover;
  border-radius:20px;
  box-shadow:
  0 10px 30px rgba(0,0,0,.1);
}
.about-content{
  max-width: 600px;
}
.about-content h2{
  color:#800020;
  font-size: 2.5rem;
  margin-bottom: 15px;
  line-height: 1.8;
}
.qualite{
 display:flex;
  gap:30px;

  margin-top:40px;
}
.quality-item{
  display:flex;
  align-items:flex-start;
  gap:15px;
}
.quality-icon{

  min-width:55px;
  width:55px;
  height:55px;

  border-radius:50%;

  background:#800020;

  color:white;

  display:flex;
  align-items:center;
  justify-content:center;

  font-size:1.2rem;
}
.qualite-card:hover{
    transform: translateY(-5px);
    cursor: pointer;
  }

  /* SKILLS */

.skills{
  background:#f5f5f5;

  padding:100px 10%;

  text-align:center;
}

/* ===== PARCOURS ===== */

.education-section{
  padding:120px 10%;
  background:#f8f8f8;
}

.education-section h2{
  text-align:center;
  color:#800020;
  margin-bottom:50px;
  font-size:2.5rem;
}

.education-list{
  max-width:900px;
  margin:auto;

  display:flex;
  flex-direction:column;
  gap:20px;
}

.education-card{
  background:white;

  border-radius:15px;

  overflow:hidden;

  box-shadow:
  0 5px 20px rgba(0,0,0,.08);
}

.education-header{
  width:100%;

  border:none;

  background:white;

  padding:20px;

  display:flex;

  justify-content:space-between;

  align-items:center;

  cursor:pointer;

  font-size:1rem;
}

.education-header h3{
  margin-top:5px;
}

.year{
  color:#800020;
  font-weight:bold;
}

.education-content{
  padding:0 20px 20px;
}

.education-content p{
  line-height:1.8;
  color:#555;
}

.skills h2{
  color:#800020;
  font-size:2.5rem;
  margin-bottom:50px;
}

.skills-grid{
  display:grid;

  grid-template-columns:
  repeat(auto-fit,minmax(150px,1fr));

  gap:25px;
}

.skill-card{
  background:white;
  border-radius:20px;
  padding:40px;
  transition:.3s;
  box-shadow:
  0 5px 20px rgba(0,0,0,.08);
}

.skill-card:hover{
  transform:translateY(-10px);
  box-shadow:
  0 15px 30px rgba(128,0,32,.15);
}
.skill-icon{
  font-size:3rem;
  color:#800020;
  margin-bottom:15px;
}
/* PROJECTS */

.projects{
  padding:100px 10%;
  background:white;
}

.projects h2{
  text-align:center;
  color:#800020;
  font-size:2.5rem;
  margin-bottom:50px;
}

.projects-grid{
  display:grid;
  grid-template-columns:
  repeat(auto-fit,minmax(320px,1fr));
  gap:30px;
}

.project-card{
  background:white;
  border-radius:20px;
  overflow:hidden;
  box-shadow:0 5px 20px rgba(0,0,0,.1);
  transition:.4s;
  border-top:6px solid #800020;
}

.project-card:hover{
   transform:
    translateY(-10px)
    scale(1.02);
}

.project-card img{
  width:100%;
  height:220px;
  object-fit:cover;
}

.project-content{
  padding:25px;
}

.project-content h3{
  color:#800020;
  margin-bottom:10px;
}

.project-content p{
  line-height:1.7;
}

.project-buttons{
  margin-top:20px;
  display:flex;
  gap:15px;
}
.project-buttons .btn{
  color: #800020;
  background: transparent;
  border: 2px solid #5c0014;
  border-radius: 8px;
  cursor: pointer;
}

.project-buttons button{
  flex:1;
  border:none;
  padding:12px;
  border-radius:8px;
  cursor:pointer;
  background:#800020;
  color:white;
  transition: .3s;
}

.project-buttons .btn:hover{
  flex:1;
  border:none;
  padding:12px;
  border-radius:8px;
  cursor:pointer;
  background:#800020;
  color:white;
}

.project-buttons button:hover{
  color: white;
  background: transparent;
  border: 2px solid #5c0014;
  border-radius: 8px;
  cursor: pointer;
}
.project-buttons a{
  text-decoration: none;
  color: #5c0014;
}


/* CONTACT */

.contact{
  background:linear-gradient(135deg,#800020, #5c0014);
  color:white;
  padding:100px 10%;
  display:flex;
  justify-content:space-between;
  gap:60px;
}

.contact-info{
  flex:1;
}
.contact-line{
   width:60px;
  height:4px;
  background:white;
  margin:15px 0 25px;
}

.contact-info h2{
  font-size:2.5rem;
  margin-bottom:20px;
}

.info{
  display:flex;
  align-items:center;
  gap:15px;

  margin-top:20px;
}

.contact-form{
  flex:1;
  display:flex;
  flex-direction:column;
  gap:20px;
}

.contact-form input,
.contact-form textarea{
  padding:15px;
  border:none;
  border-radius:10px;
}

.contact-form textarea{
  height:150px;
  resize:none;
}

.contact-form button{
  background:white;
  color:#800020;
  border:none;
  padding:15px;
  border-radius:10px;
  cursor:pointer;
  font-weight:bold;
  transition: .3s;
}

.contact-form button:hover{
  transform:translateY(-3px);
  box-shadow:
  0 10px 25px rgba(255,255,255,.3);
}

.error{
  color:white;
  font-size:0.9rem;
  margin-top:5px;
  margin-bottom:10px;
}

.success{
  color:white;
  margin-top:15px;
  font-weight:600;
}

.contact-form button:disabled{
  opacity:.7;
  cursor:not-allowed;
}

.footer{
  background:#5c0014;

  color:white;

  text-align:center;

  padding:25px;
}

.socials{
  margin-top:15px;
  display:flex;
  justify-content:center;
  gap:20px;
}

.socials a{
  color:white;
  font-size:1.5rem;
}
.burger{
  display:none;
  font-size:2rem;
  color:#800020;
  cursor:pointer;
  z-index:1100;
}

@media (max-width:768px){

  .navbar{
    padding:0 20px;
     background:
    rgba(255,255,255,.85);
  backdrop-filter:blur(10px);
  }
    .burger{
      display:block;
    font-size:2rem;
    color:#800020;
    cursor:pointer;
    z-index:1100;
  }

.nav-links{

    position:fixed;

    top:90px;
    left:50%;

    transform:
      translateX(-50%)
      scale(.9);

    width:90%;

    display:flex;

    flex-direction:row;

    justify-content:center;

    flex-wrap:wrap;

    gap:20px;

    padding:20px;

    background:
      rgba(255,255,255,0.15);

    backdrop-filter:blur(12px);

    -webkit-backdrop-filter:blur(12px);

    border:1px solid
      rgba(255,255,255,.2);

    border-radius:20px;

    opacity:0;

    visibility:hidden;

    transition:.3s ease;

    box-shadow:
      0 8px 25px rgba(0,0,0,.15);
  }

  .nav-links.active{

    opacity:1;

    visibility:visible;

    transform:
      translateX(-50%)
      scale(1);
  }

  .nav-links li{
    display:block;
  }

  .nav-links a{
    color:white;
    font-weight:600;
    font-size:0.95rem;
  }

  .nav-links a:hover{
    color:#ffd6df;
  }

    .hero-buttons {
    gap: 10px;
  }

  .hero-btn {
    margin-bottom: 10px;
    padding: 8px 14px;
    font-size: 13px;
  }

  .hero-line{
    margin-left: auto;
    margin-right: auto;
  }
   .contact-line{
    margin-left: auto;
    margin-right: auto;
  }

  .hero{
    flex-direction:column-reverse;
    text-align:center;
    padding:140px 20px 60px;
  }

  .hero-text{
    width: 100%;
  }
  .hero-text h1{
    font-size:2.8rem;
  }
.hero-text h3{
    font-size:1.1rem;
  }
  .hero-image img{
    width:250px;
    height:250px;
    margin-top:40px;
  }

.hero-buttons{
  flex-direction:column;
  align-items:center;
}

.hero-btn{
  width:auto;
}
.about,
.skills,
.projects,
.contact{

  max-width:1400px;

  margin:auto;
}
  .about{
    flex-direction:column;
    text-align: center;
  }
   .about-line{
    margin:auto;
    margin-top:15px;
    margin-bottom:25px;
  }
  .about-image img{
    width:100%;
    max-width: 350px;
  }

  .qualite{
    flex-direction:column;
  }

  .contact{
    flex-direction:column;
    text-align: center;
  }
 .skills-grid{

    grid-template-columns:
    repeat(2,1fr);

  }
  .skills-line{
    margin:auto;
    margin-top:15px;
    margin-bottom:25px;
  }
  .projects-grid{
    grid-template-columns:1fr;
  }
  .footer{
    text-align: center;
  }
}
@media (max-width:480px){

  .hero-text h1{
  font-size:clamp(2.5rem,8vw,5rem);
}

h2{
  font-size:clamp(2rem,5vw,3rem);
}
  .skills-grid{
    grid-template-columns:1fr;
  }

  .projects-grid{
    grid-template-columns:1fr;
  }

}



